<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tagger/stanford-postagger-java/edu/stanford/nlp/tagger/maxent/MaxentTagger.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.stanford.nlp.tagger.maxent.MaxentTagger"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tagger"/>
</launchConfiguration>
